@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.apresentacao{
    background-color:#f1f3f4;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section > div#logo{
    order: 1;
    align-self: flex-start;
}

section > div#apresentacao{
    order: 0;
    align-self: flex-end;
}


section > div#apresentacao > h2{
    color: black;
}