@charset "UTF-8";

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header > div#logoempresa{
    background-color: red;
    color: white;
    font-size: larger;
    text-align: center;
    height: 50px;
    padding-top:15px;
}

main > section > img{
    width: 100vw;
}

main > section#titulo{
    text-align: center;
    margin: 10px;
}

main > .menulanches{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}