*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(129, 129, 255);
}

section{
    background-color: white;
    color: black;
    width: 90%;
    height: 500px;
    margin: 15px auto;
}

section > p,input {
    margin: 5px;
    width: 120px;
    text-align: center;
}

#res{
    margin-top: 30px;
    
}